/lab2/WindowsFormsApp22/.vs
/lab2/WindowsFormsApp22/WindowsFormsApp22/obj
/lab2/WindowsFormsApp22/WindowsFormsApp22/bin
/lab2/ContactApplication/packages
/lab2/ContactApplication/obj
/lab2/ContactApplication/.vs
/lab2/ContactApplication/bin
/lab2/Лабораторная работа2.Постановка (3).docx
/lab2/DBLab (3).docx
/arm/YourLook/.vs
/arm/YourLook/bin
/arm/YourLook/obj
